.jumbotron {color:black;margin:10px;}
.floater{float:left;}

body {background-color:navy;}

div{font-family:Arial;color:white;}

button{color:black;margin:5px;}

input{color:black;}

.container{text-align:center;}

img{margin:5px;}

p{color:white;}


